
.navbar-box {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    height: var(--navbar-height);
    background: var(--navbar-background);
    color: var(--navbar-color);

    display: flex;
    justify-content: center;

    font-family: var(--font-title);
    box-shadow: 0px 4px 12px rgba(5, 12, 38, 0.12);
    z-index: 99;
}

.score-box {
    background: var(--color-main);
    color: var(--color);
    padding: 5px calc(var(--navbar-height) / 4);
    border-radius: var(--navbar-height);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    width: fit-content;

    color: #fff;
}

.navbar-size {
    width: calc(var(--page-width) - var(--navbar-height));
    display: grid;
    grid-template-columns: 5em 1fr;
    align-items: center;
}

.score-box > svg {
    height: 1em;
    aspect-ratio: 1 / 1;
    padding-left: 5px;
}

a {
    color: #ddd;
    text-decoration: none;
    transition: .2s;
}


a:hover {
    color: #fff;
}