@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Geologica:wght@100..900&display=swap');


:root {
    --font-title: "Geologica", serif;

	/*--backround: #fff;
	--color: #102039;
	--color-main: #454cee;

	--navbar-height: 50px;
	--navbar-background: #274069;
	--navbar-color: #F2F2F2;

	--page-width: 900px;

	--backround-checklist: #F4F5F7;
	--border-radius: 5px;
	--backround-checklist-border: #E2E4F6;
	--backround-checklist-icon: #E2E4F6;*/
	
	--backround: #EFF4FA;
	--color: #1B2B79;
	--color-main: #454cee;

	--navbar-height: 50px;
	--navbar-background: #1D2583;
	--navbar-color: #F2F2F2;

	--page-width: 900px;

	--backround-checklist: #F4F5F7;
	--border-radius: 20px;
	--backround-checklist-border: #E2E4F6;
	--backround-checklist-icon: #E2E4F6;

	--green: #27ff00;
}


html {
	background: var(--backround);
	color: var(--color);
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.red {
	background: var(--color);
}

.page-box {
	margin-top: var(--navbar-height);
	max-width: var(--page-width);
	/*background: red;*/
	padding: 0 var(--navbar-height);
}

.body {
	display: flex;
    justify-content: center;
}

input {
	outline: none;
	border: none;
}