:root {

	--backround: #F2F2F2;
	--color: #102039;

	--navbar-height: 50px;
	--navbar-background: #274069;
	--navbar-color: #F2F2F2;
}


html {
	background: var(--backround);
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;


}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.red {
	background: var(--color);
}

.page-box {
	margin-top: var(--navbar-height);
}